server {
    listen 80;
    include /etc/nginx/server_names.conf;

    root /var/www/news/public;
    index.php;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    # Restrict specific paths to *.kilatcepat.org
    location ~ ^/(login|authenticate|download|admin(/.*)?)$ {
        if ($host !~* \.kilatcepat\.org$) {
            return 403;
        }

        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php/php8.2-fpm.sock;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }

    location ~ /\.ht {
        deny all;
    }

    error_log /var/log/nginx/laravel_error.log;
    access_log /var/log/nginx/laravel_access.log;
}
